		<div id="fh5co-intro-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center animate-box">
						<h2 class="intro-heading">About </h2>
						<p><span>Created with <i class="icon-heart3"></i> by the fine folks at </span></p>
					</div>
				</div>
			</div>
		</div>
		
		<div id="fh5co-about-section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center animate-box">
						<div class="about">
							

						</div>
						<div class="desc">
							<h3>Eloisa Doe</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics.</p>

						</div>
					</div>
				</div>
			</div>
		</div>